header ul{
    background-color: rgb(17, 20, 19);
    list-style-type: none; /*para quitar los valores por defecto de las listas*/
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

header ul li{
    float: left;
    margin: 10px 10px;
}

header ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
}

header ul li a:hover{
    background-color: rgb(243, 255, 73);
    color: black;
}

body{
    margin: 0;
}

#img1{
    display: none;
}

#img2{
    display: none;
}

.fa-bars{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 2rem;
    color: white;
    opacity: 0;
}

#menu_2{
    opacity: 0;
}

#contenedor{
    background-color: bisque;
    width: 35%;
}
/*
@media only screen and (max-width: 650px){
    #contenedor{
        width: 100%;
    }
}*/

@media only screen and (max-width: 800px) {
    #img_1{
        display: none;
    }
    #img_2{
        display: block;
    }
    #contenedor{
        width: 100%;
    }
    #menu_1{
        opacity: 0;
    }
    #menu_2{
        opacity: 100;
        
    }
}

